In [12]:
import os

os.chdir('C:/Users/LUY1/Desktop/customer churn data/data')

print(os.getcwd())

C:\Users\LUY1\Desktop\customer churn data\data

In [13]:
import pandas as pd

df = pd.read_pickle('df_numeric_encode.pkl')
df.head()

,RENEWAL_MONTH,POL_DURATION,COMBINED_COVER,BUILDINGS_COVER,CONTENTS_COVER,RENEWED,PREM,PY_PREM,ACDH_CLAIMS,ADEX_CLAIMS,...,STMP_CLAIMS,FIRP_CLAIMS,FRZP_CLAIMS,OTPP_CLAIMS,SUBP_CLAIMS,OTHER_CLAIMS,TOTAL_CLAIMS,COMP,PYMT_FRQ_ACTL_B2,CUSTOMER_SEGMENT
0,8,16,0,0,1,1,81.27,168.84000,0,0,...,0,0,0,0,0,0,0,0,4,6
1,4,2,1,0,0,1,409.53,382.65000,0,0,...,0,0,0,0,0,0,0,0,4,5
2,5,1,0,0,1,1,181.36,181.36000,0,0,...,0,0,0,0,0,0,0,0,4,5
3,5,2,0,1,0,1,372.28,160.92205,0,0,...,0,0,0,0,0,0,0,0,4,5
4,3,9,0,0,1,1,85.54,89.15000,0,0,...,0,0,0,0,0,0,0,0,0,2

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 524275 entries, 0 to 524274
Data columns (total 22 columns):
RENEWAL_MONTH       524275 non-null int64
POL_DURATION        524275 non-null int64
COMBINED_COVER      524275 non-null int64
BUILDINGS_COVER     524275 non-null int64
CONTENTS_COVER      524275 non-null int64
RENEWED             524275 non-null int64
PREM                524275 non-null float64
PY_PREM             524275 non-null float64
ACDH_CLAIMS         524275 non-null int64
ADEX_CLAIMS         524275 non-null int64
EWNF_CLAIMS         524275 non-null int64
THFT_CLAIMS         524275 non-null int64
STMP_CLAIMS         524275 non-null int64
FIRP_CLAIMS         524275 non-null int64
FRZP_CLAIMS         524275 non-null int64
OTPP_CLAIMS         524275 non-null int64
SUBP_CLAIMS         524275 non-null int64
OTHER_CLAIMS        524275 non-null int64
TOTAL_CLAIMS        524275 non-null int64
COMP                524275 non-null int64
PYMT_FRQ_ACTL_B2    524275 non-null int64
CUSTOMER_SEGMENT    524275 non-null int64
dtypes: float64(2), int64(20)
memory usage: 88.0 MB

In [15]:
df.isnull().sum()/len(df)

RENEWAL_MONTH       0.0
POL_DURATION        0.0
COMBINED_COVER      0.0
BUILDINGS_COVER     0.0
CONTENTS_COVER      0.0
RENEWED             0.0
PREM                0.0
PY_PREM             0.0
ACDH_CLAIMS         0.0
ADEX_CLAIMS         0.0
EWNF_CLAIMS         0.0
THFT_CLAIMS         0.0
STMP_CLAIMS         0.0
FIRP_CLAIMS         0.0
FRZP_CLAIMS         0.0
OTPP_CLAIMS         0.0
SUBP_CLAIMS         0.0
OTHER_CLAIMS        0.0
TOTAL_CLAIMS        0.0
COMP                0.0
PYMT_FRQ_ACTL_B2    0.0
CUSTOMER_SEGMENT    0.0
dtype: float64

In [16]:
# reverse the one-hot-encoding
# COMBINED_COVER, BUILDINGS_COVER, CONTENTS_COVER to a new feature COVER_TYPE

In [17]:
df['COVER_TYPE'] = df.loc[:, ['COMBINED_COVER', 'BUILDINGS_COVER', 'CONTENTS_COVER']].idxmax(axis = 1)

df.head()

,RENEWAL_MONTH,POL_DURATION,COMBINED_COVER,BUILDINGS_COVER,CONTENTS_COVER,RENEWED,PREM,PY_PREM,ACDH_CLAIMS,ADEX_CLAIMS,...,FIRP_CLAIMS,FRZP_CLAIMS,OTPP_CLAIMS,SUBP_CLAIMS,OTHER_CLAIMS,TOTAL_CLAIMS,COMP,PYMT_FRQ_ACTL_B2,CUSTOMER_SEGMENT,COVER_TYPE
0,8,16,0,0,1,1,81.27,168.84000,0,0,...,0,0,0,0,0,0,0,4,6,CONTENTS_COVER
1,4,2,1,0,0,1,409.53,382.65000,0,0,...,0,0,0,0,0,0,0,4,5,COMBINED_COVER
2,5,1,0,0,1,1,181.36,181.36000,0,0,...,0,0,0,0,0,0,0,4,5,CONTENTS_COVER
3,5,2,0,1,0,1,372.28,160.92205,0,0,...,0,0,0,0,0,0,0,4,5,BUILDINGS_COVER
4,3,9,0,0,1,1,85.54,89.15000,0,0,...,0,0,0,0,0,0,0,0,2,CONTENTS_COVER

In [20]:
df.drop(['COMBINED_COVER', 'BUILDINGS_COVER', 'CONTENTS_COVER'], axis = 1, inplace = True)
df.head()

,RENEWAL_MONTH,POL_DURATION,RENEWED,PREM,PY_PREM,ACDH_CLAIMS,ADEX_CLAIMS,EWNF_CLAIMS,THFT_CLAIMS,STMP_CLAIMS,FIRP_CLAIMS,FRZP_CLAIMS,OTPP_CLAIMS,SUBP_CLAIMS,OTHER_CLAIMS,TOTAL_CLAIMS,COMP,PYMT_FRQ_ACTL_B2,CUSTOMER_SEGMENT,COVER_TYPE
0,8,16,1,81.27,168.84000,0,0,0,0,0,0,0,0,0,0,0,0,4,6,CONTENTS_COVER
1,4,2,1,409.53,382.65000,0,0,0,0,0,0,0,0,0,0,0,0,4,5,COMBINED_COVER
2,5,1,1,181.36,181.36000,0,0,0,0,0,0,0,0,0,0,0,0,4,5,CONTENTS_COVER
3,5,2,1,372.28,160.92205,0,0,0,0,0,0,0,0,0,0,0,0,4,5,BUILDINGS_COVER
4,3,9,1,85.54,89.15000,0,0,0,0,0,0,0,0,0,0,0,0,0,2,CONTENTS_COVER

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 524275 entries, 0 to 524274
Data columns (total 20 columns):
RENEWAL_MONTH       524275 non-null int64
POL_DURATION        524275 non-null int64
RENEWED             524275 non-null int64
PREM                524275 non-null float64
PY_PREM             524275 non-null float64
ACDH_CLAIMS         524275 non-null int64
ADEX_CLAIMS         524275 non-null int64
EWNF_CLAIMS         524275 non-null int64
THFT_CLAIMS         524275 non-null int64
STMP_CLAIMS         524275 non-null int64
FIRP_CLAIMS         524275 non-null int64
FRZP_CLAIMS         524275 non-null int64
OTPP_CLAIMS         524275 non-null int64
SUBP_CLAIMS         524275 non-null int64
OTHER_CLAIMS        524275 non-null int64
TOTAL_CLAIMS        524275 non-null int64
COMP                524275 non-null int64
PYMT_FRQ_ACTL_B2    524275 non-null int64
CUSTOMER_SEGMENT    524275 non-null int64
COVER_TYPE          524275 non-null object
dtypes: float64(2), int64(17), object(1)
memory usage: 80.0+ MB

In [23]:
df_cover_cat = df['COVER_TYPE']
df_cover_cat.head()

0     CONTENTS_COVER
1     COMBINED_COVER
2     CONTENTS_COVER
3    BUILDINGS_COVER
4     CONTENTS_COVER
Name: COVER_TYPE, dtype: object

In [31]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [33]:
df['COVER_TYPE_NUM'] = le.fit_transform(df_cover_cat)
df.drop('COVER_TYPE', axis = 1, inplace = True)

df.head()

,RENEWAL_MONTH,POL_DURATION,RENEWED,PREM,PY_PREM,ACDH_CLAIMS,ADEX_CLAIMS,EWNF_CLAIMS,THFT_CLAIMS,STMP_CLAIMS,FIRP_CLAIMS,FRZP_CLAIMS,OTPP_CLAIMS,SUBP_CLAIMS,OTHER_CLAIMS,TOTAL_CLAIMS,COMP,PYMT_FRQ_ACTL_B2,CUSTOMER_SEGMENT,COVER_TYPE_NUM
0,8,16,1,81.27,168.84000,0,0,0,0,0,0,0,0,0,0,0,0,4,6,2
1,4,2,1,409.53,382.65000,0,0,0,0,0,0,0,0,0,0,0,0,4,5,1
2,5,1,1,181.36,181.36000,0,0,0,0,0,0,0,0,0,0,0,0,4,5,2
3,5,2,1,372.28,160.92205,0,0,0,0,0,0,0,0,0,0,0,0,4,5,0
4,3,9,1,85.54,89.15000,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2

In [34]:
df.to_pickle('df_num_encode_2.pkl')

In [35]:
y = df['RENEWED']
X = df.drop('RENEWED', axis = 1)

In [36]:
X.head()

,RENEWAL_MONTH,POL_DURATION,PREM,PY_PREM,ACDH_CLAIMS,ADEX_CLAIMS,EWNF_CLAIMS,THFT_CLAIMS,STMP_CLAIMS,FIRP_CLAIMS,FRZP_CLAIMS,OTPP_CLAIMS,SUBP_CLAIMS,OTHER_CLAIMS,TOTAL_CLAIMS,COMP,PYMT_FRQ_ACTL_B2,CUSTOMER_SEGMENT,COVER_TYPE_NUM
0,8,16,81.27,168.84000,0,0,0,0,0,0,0,0,0,0,0,0,4,6,2
1,4,2,409.53,382.65000,0,0,0,0,0,0,0,0,0,0,0,0,4,5,1
2,5,1,181.36,181.36000,0,0,0,0,0,0,0,0,0,0,0,0,4,5,2
3,5,2,372.28,160.92205,0,0,0,0,0,0,0,0,0,0,0,0,4,5,0
4,3,9,85.54,89.15000,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2

In [37]:
# split into the training and testing datasets

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 123)

In [39]:
print(X_train.shape)
print(X_test.shape)

print(len(y_train))
print(len(y_test))

(419420, 19)
(104855, 19)
419420
104855

In [40]:
X_train.to_pickle('X_train.pkl')
X_test.to_pickle('X_test.pkl')

y_train.to_pickle('y_train.pkl')
y_test.to_pickle('y_test.pkl')